.formInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input {
  width: 350px;
  height: 35px;
  margin: 5px;
  padding-left: 5px;
  border-radius: 4px;
  border-top: 0;
  border-bottom: 0;
  border: none;
  color: black;
  background-color: rgb(255, 255, 255);
}
label {
  color: gray;
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Error{
  font-size: 13px;
  padding: 3px;
  color: rgb(255, 0, 0);
  display: none;
  width: 80%;
  flex-wrap: wrap;
}
input:invalid[focused="true"] ~ .Error{
  display: block;
}
input:invalid[focused="true"]{
  border: 1px solid rgb(161, 24, 253);
}