.Navbar-Page1 {
  width: 100%;
  height: 50px;
  background-color: rgb(24, 24, 24);
  display: flex;
  color: white;
}
.Navbar-Page1-left {
  width: 15%;
  display: flex;
  column-gap: 30px;
  padding-left: 1%;
  align-items: center;
}
.Navbar-Page1-left >h2 {
  color: white;
  font-size: 16px;
}
.Navbar-Page1-left >h2:hover {
  color: rgb(128, 0, 168);
  cursor: pointer;
}
.Navbar-Page1-middel {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1px;
}
.Navbar-Page1-right {
  width: 15%;
  display: flex;
  column-gap: 5px;
  color: white;
  column-gap: 10px;
  align-items: center;
}
.Image1 {
  height: 60%;
  width: 28px;
}
.Image1:hover {
  position: relative;
  bottom: 3px;
  left: 3px;
  cursor: pointer;
}
.Dots:hover {
  background-color: rgb(90, 90, 90);
  cursor: pointer;
}
.Dots {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  align-items: center;
  justify-content: center;
  width: 12%;
  height: 65%;
  border-radius: 5px;
}
.Dots > p {
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50px;
}

.SearchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80%;
  background-color: rgba(103, 103, 103, 0.653);
  border: none;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.SearchIcondiv {
  height: 80%;
  background-color: rgb(85, 85, 85);
  width: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.SearchBar:hover {
  border: 1px solid rgb(97, 97, 97);
}
.SearchIcon {
  fill: white;
}
.SvgPage1-right {
  display: flex;
  flex-direction: column;
}

.Number-top {
  border-radius: 10px;
  background-color: red;
  height: 20px;
  width: 25px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 12.9%;
  top: 0.8%;
  cursor: pointer;
}
.Number-top > p {
  color: rgb(255, 255, 255);
  font-size: 15px;
}
.Test:hover {
  background-color: rgb(95, 95, 95);
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
}
.Test {
  fill: white;
  width: 25px;
  height: 100%;
}
.Login {
  background-color: rgb(69, 69, 69);
  padding: 6px 9px; 
  border-radius: 5px;
  font-size: 14px;
}
.Login:hover {
  background-color: rgb(99, 99, 99);
  cursor: pointer;
}
.Login- {
  padding: 6px 10px; 
  border-radius: 5px;
  font-size: 14px;
}
.Login-:hover {
  cursor: pointer;
}
.Sign_Up {
  background-color: rgb(173, 49, 255);
  padding: 6px 11px; 
  border-radius: 5px;
  font-size: 14px;
}
.Sign_Up:hover {
  background-color: rgb(144, 42, 240);
  cursor: pointer;
}
.Svg-Right-Navbar {
  fill: white;
  height: 80%;
  width: 10%;
}
.Svg-Right-Navbar:hover {
  background-color: rgb(95, 95, 95);
  border-radius: 5px;
  cursor: pointer;
}
.OpenSvgLeft {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 3%;
  height: 40px;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 5.5%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.OpenSvgLeft > p {
  color: black;
  background-color: white;
  height: 70%;
}

.OpenSvgPrime {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  width: 7%;
  height: 28px;
  border-radius: 5px;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 5.6%;
  right: 11%;
}
.OpenSvgPrime > p {
  color: black;
  font-size: 13px;
  background-color: white;
}


.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  position: absolute;
  z-index: 50;
  background-color: rgba(0, 0, 0,0.9);
  opacity: 1;
}
.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding: 30px 20px;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(38, 38, 38, 0.995);
}
.Login {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
}
.Shoping-login {
  padding: 7px;
  border: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.Shoping-login- {
  padding: 8px 50px;
  border: 0;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.Ponit-div {
  display: flex;
  column-gap: 10px;
}
.Ponit {
  height: 7px;
  width: 7px;
  background-color: white;
  border-radius: 500px;
}
.Ponit1 {
  height: 7px;
  width: 7px;
  background-color: rgb(111, 111, 111);
  border-radius: 500px;
}
.Login-insted-div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 190px;
  width: 100%;
}
.Login-text {
  font-size: 15px;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  color: rgb(239, 121, 255);
}
.Login-text:hover {
  color: white;
  background-color: rgba(63, 63, 63, 0.573);
  cursor: pointer;
}
.x-close-login {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 45px;
  bottom: 30px;
}
.X-white {
  fill: white;
  cursor: pointer;
}
.contenttt {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.Welcome-image {
  width: 30px;
  height: 30px;
}


@media only screen and (max-width:1281px) {
  .Navbar-Page1-middel {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
  .Navbar-Page1-right {
    width: 20%;
    display: flex;
    column-gap: 5px;
    color: white;
    column-gap: 10px;
    align-items: center;
  }
  .Number-top {
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 16.2%;
    top: 0.8%;
    cursor: pointer;
  }
}
@media only screen and (max-width:1025px) {
  .Navbar-Page1-middel {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
  .Navbar-Page1-right {
    width: 30%;
    display: flex;
    column-gap: 5px;
    color: white;
    column-gap: 10px;
    align-items: center;
  }
  .Number-top {
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 19.9%;
    top: 0.8%;
    cursor: pointer;
  }
  .Navbar-Page1 {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    color: white;
  }
}
@media only screen and (max-width:920px) {
  .Navbar-Page1-middel {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
  .SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    background-color: rgba(103, 103, 103, 0.653);
    border: none;
    padding-left: 20px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  .Navbar-Page1-right {
    width: 30%;
    display: flex;
    column-gap: 5px;
    color: white;
    column-gap: 10px;
    align-items: center;
  }
  .Number-top {
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 24%;
    top: 0.8%;
    cursor: pointer;
  }
  .Navbar-Page1 {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    color: white;
  }
  .SearchIcondiv {
    height: 80%;
    background-color: rgb(85, 85, 85);
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media only screen and (max-width:769px) {
  .Navbar-Page1 {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    color: white;
  }
}
@media only screen and (max-width:541px) {
    .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
    color: white;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0,0.9);
    opacity: 1;
    margin-left: 0%;
  }
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(38, 38, 38, 0.995);
    width: 70%;
    padding: 20px 30px;
    margin-left: 25%;
  }
  .YieShop {
    font-size: 15px;
  }
  .Login-insted-div {
    column-gap: 50px;
  }
  .Shoping-login- {
    font-size: 12px;
    padding: 0px;
    width: 100px;
    height: 30px;
  }
  .Shoping-login  {
    font-size: 12px;
    padding: 0px;
    width: 100px;
    height: 30px;
  }
  .Navbar-Page1-middel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
  .SearchBar {
    display: none;
  }
  .Navbar-Page1-right {
    width: 70%;
    display: flex;
    column-gap: 5px;
    color: white;
    column-gap: 10px;
    align-items: center;
  }
  .Number-top {
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 12.5%;
    top: 0.8%;
    cursor: pointer;
  }
  .Navbar-Page1 {
    width: 125%;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    color: white;
  }
  .SearchIcondiv {
    display: none;
  }
}
@media only screen and (max-width:440px) {
  .Navbar-Page1-middel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
  .SearchBar {
    display: none;
  }
  .Navbar-Page1-right {
    width: 80%;
    display: flex;
    column-gap: 5px;
    color: white;
    column-gap: 10px;
    align-items: center;
    
  }
  .Number-top {
    border-radius: 10px;
    background-color: red;
    height: 15px;
    width: 18px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 46%;
    top: 1.5%;
    cursor: pointer;
  }
  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0,0.9);
    opacity: 1;
    margin-left: 0%;
  }
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(38, 38, 38, 0.995);
    width: 70%;
    padding: 20px 30px;
    margin-left: 0%;
  }
  .YieShop {
    font-size: 15px;
  }
  .Login-insted-div {
    column-gap: 50px;
  }
  .Shoping-login- {
    font-size: 12px;
    padding: 0px;
    width: 100px;
    height: 30px;
  }
  .Shoping-login  {
    font-size: 12px;
    padding: 0px;
    width: 100px;
    height: 30px;
  }
  .input {
    width: 250px;
    height: 35px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 4px;
    border-top: 0;
    border-bottom: 0;
    border: none;
    color: black;
    background-color: rgb(255, 255, 255);
  }
  .Navbar-Page1 {
    width: 100%;
    height: 50px;
    background-color: rgb(24, 24, 24);
    display: flex;
    color: white;
  }
  .SearchIcondiv {
    display: none;
  }
  .Sign_Up {
    background-color: rgb(173, 49, 255);
    padding: 6px 11px; 
    border-radius: 5px;
    font-size: 10px;
  }
  .Test {
    width: 20px;
    height: 100%;
  }
  .Login {
    background-color: rgb(69, 69, 69);
    padding: 6px 9px; 
    border-radius: 5px;
    font-size: 10px;
  }
}