@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: white;

}
 body {
  background-color: black;
  color: white;
 }
